@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Calibri;

body {
    font-family: $main-font;
}
#sign-up-section,
#sign-in-section {
    h3 {
        text-align: center;
    }
    form {
        margin-top: 10%;
        font-size: 15px;
    }
}
#sign-up-section,
#sign-in-section {
    position: absolute;
    z-index: 1;
    top: 8%;
    right: 13%;
    display: block;
    border-radius: 10px;
    background: #333333;
    max-width: 265px;
    padding: 10px 15px;
    .sign-in-group {
        margin-top: 5%;
        &:nth-child(2) {
            margin-bottom: 10%;
        }
        label {
            line-height: 30px;
            margin-bottom: 0px;
        }
        input,
        button {
            color: $black-color;
            border: 1px solid transparent;
        }
        input {
            float: right;
            background: #FAEA6F;
            padding: 4px 5px;
            &[type="checkbox"] {
                margin: 8px 0px 0px 8px;
            }
        }
        button {
            border-radius: 4px;
            padding: 5px 15px;
            background: #FAEA6F;
            background-image: -webkit-linear-gradient(top, #FAEA6F, #BFA80F);
            background-image: -moz-linear-gradient(top, #FAEA6F, #BFA80F);
            background-image: -ms-linear-gradient(top, #FAEA6F, #BFA80F);
            background-image: -o-linear-gradient(top, #FAEA6F, #BFA80F);
            background-image: linear-gradient(to bottom, #FAEA6F, #BFA80F);
        }
        button + label {
            margin-left: 20px;
        }
        a {
            padding: 2px 0px 2px 5px;
        }
    }
}
#sign-up-section,
#sign-in-section {
    display: none;
}
#sign-up-section {
    max-width: 300px;
    .sign-up-group {
        @extend .sign-in-group;
        &:nth-child(2) {
            margin-bottom: 0%;
        }
        textarea + p {
            padding-bottom: 10px;
        }
    }
}
.sign-in-group button,
#next-button>button a span {
    font-size: 16px;
}
#sign-up-section,
#sign-in-section,
#sign-up-section a,
#sign-in-section a,
#next-button>button a {
    color: $white-color;
}
#flight-form,
#form-container,
#main-flight-info-container,
#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container {
    margin: auto;
}
#sign-in-section,
#sign-up-section,
#flight-form,
#form-container,
#main-flight-info-container,
#ticket-information-container,
#seat-container,
#flight-reason-container,
.add-a-flight-information,
.add-a-flight-information>label,
input[type="radio"],
#save-container {
    width: $maxWidth;
}
#flight-form,
#form-container {
    max-width: 750px;
}
#main-flight-info-container,
#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container,
#save-container {
    max-width: 650px;
}
.add-a-flight-information,
.add-a-flight-information>label {
    max-width: 115px;
}
#flight-form {
    background: rgba(246,247,248,0.85) ;
    margin: 2% auto;
    padding: 1% 0%;
    color: #888888;
    overflow: hidden;
    #form-container {
        #main-flight-info-container {
            div {
                margin-top: 3%;
                input {
                    margin-right: 50%;
                    float: right;
                    @media screen and (max-width: 480px) {
                        margin-right: 5%;
                    }
                    @media screen (min-width: 481px) and (max-width: 767px) {
                        margin-right: 20%;
                    }
                }
            }
        }
    }
}
#form-container label,
.containers-title,
.seat-number-text {
    font-size: 17px;
}
#form-container label,
.containers-title,
.seat-number-text,
#next-button>button {
    font-weight: bold;
}
hr {
    border-top: 1px dashed #CDCDCD;
    margin-top: 0px;
}
h3 {
    margin: 5px 0px;
    @media screen and (max-width: 767px) {
        text-indent: 10px;
    }
}
.containers-title {
    text-align: left;
    text-indent: 3%;
    @media screen and (max-width: 767px) {
        text-align: center;
        text-indent: 0px;
    }
}
.sign-in-group a,
#form-containerlabel,
.seat-number-text {
    display: inline-block;
}
#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container {
    overflow: auto;
    margin-top: 4%;
}
#ticket-information-container,
#flight-reason-container {
    @media screen and (max-width: 767px) {
        margin-top: 10%;
    }
}
#seat-container,
#personal-note-container {
    @media screen and (max-width: 767px) {
        margin-top: 3%;
    }
}
.add-a-flight-information {
    float: left;
    margin-left: 2%;
    @media screen and (max-width: 767px) {
        float: none;
        margin: 5% auto;
    }
    label {
        background: $white-color;
        color: #999999;
        padding: 5px 0px;
        text-align: center;
        border: 1px solid #999999;
        border-radius: 25px;
    }
}
.seat-number {
    max-width: 170px !important;
    line-height: 38px;
    margin-left: 5%;
    @media screen and (max-width: 767px) {
        margin: auto;
    }
    .seat-number-text {
        text-align: right;
    }
    input[name="seat"] {
        width: 75px !important;
        height: 100%;
        min-height: 35px;
        margin-top: 3px;
    }
}
#personal-note-container {
    label {
        font-weight: bold !important;
        display: block !important;
    }
    @media screen and (max-width: 767px) {
        padding-left: 10px;
    }
}
#save-container {
    #next-button>button {
        background: #25CD60;
        border-radius: 30px;
        border: 0px;
        padding: 10px 25px;
        float: right;
        font-size: 18px;
        margin: 4% 0% 2% 0%;
        @media screen and (max-width: 767px) {
            @include margin-float-group;
        }
        a {
            &:hover {
                text-decoration: none;
            }
            span {
                padding-left: 5px;
            }
        }
    }
}
