body {
  font-family: Calibri; }

#flight-form,
#form-container,
#main-flight-info-container,
#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container {
  margin: auto; }

#flight-form,
#form-container,
#main-flight-info-container,
#ticket-information-container,
#seat-container,
#flight-reason-container,
.add-a-flight-information,
.add-a-flight-information > label,
input[type="radio"] {
  width: 100%; }

#flight-form,
#form-container {
  max-width: 750px; }

#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container {
  max-width: 650px; }

.add-a-flight-information,
.add-a-flight-information > label {
  max-width: 115px; }

#flight-form {
  background: rgba(246, 247, 248, 0.85);
  margin: 2% auto;
  padding: 1% 0%;
  color: #888888; }
  #flight-form #form-container #main-flight-info-container {
    max-width: 330px; }
    #flight-form #form-container #main-flight-info-container div {
      margin-top: 3%; }
  #flight-form #form-container label {
    margin: 3px 0px; }
  #flight-form #form-container input {
    float: right; }

input[type="time"] {
  margin-right: 21%; }

input[type="date"] {
  margin-right: -2.5%; }

#form-container label,
.containers-title,
.seat-number-text {
  font-weight: bold;
  font-size: 17px; }

hr {
  border-top: 1px dashed #cdcdcd;
  margin-top: 0px; }

h3 {
  margin: 5px 0px; }
  @media screen and (max-width: 767px) {
    h3 {
      text-indent: 10px; } }

.containers-title {
  text-align: left;
  text-indent: 10px; }
  @media screen and (max-width: 767px) {
    .containers-title {
      text-align: center;
      text-indent: 0px; } }

#form-containerlabel,
.seat-number-text {
  display: inline-block; }

#ticket-information-container,
#seat-container,
#flight-reason-container,
#personal-note-container {
  overflow: auto;
  margin-top: 4%; }

.add-a-flight-information {
  float: left;
  margin-left: 2%; }
  @media screen and (max-width: 767px) {
    .add-a-flight-information {
      float: none;
      margin: 8% auto; } }
  .add-a-flight-information label {
    color: #999999;
    background: #FFFFFF;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 25px; }

.seat-number {
  max-width: 170px !important;
  line-height: 38px;
  margin-left: 5%; }
  @media screen and (max-width: 767px) {
    .seat-number {
      margin: auto; } }
  .seat-number .seat-number-text {
    text-align: right; }
  .seat-number input[name="seat"] {
    width: 75px !important;
    height: 100%;
    min-height: 35px;
    margin-top: 3px; }

#personal-note-container label {
  font-weight: bold !important;
  display: block !important; }

@media screen and (max-width: 767px) {
  #personal-note-container {
    padding-left: 10px; } }

