@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
#add-a-flight-form {
  margin: auto;
  width: 100%;
  max-width: 600px; }
  #add-a-flight-form input {
    margin-top: 3.5%; }

