@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
body {
  font-family: Ubuntu; }

#add-a-flight-form,
#add-a-flight-form > div {
  margin: auto;
  width: 100%; }

#add-a-flight-form {
  max-width: 500px; }
  #add-a-flight-form div {
    margin-top: 3%;
    max-width: 320px; }
    #add-a-flight-form div p {
      display: inline-block; }
    #add-a-flight-form div input {
      float: right; }

