@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Calibri;

body {
    font-family: $main-font;
}
.flight-list {
    width: $maxWidth;
    max-width: 1000px;
    margin: 1% auto;
    font-size: 16px;
    thead>tr>th, 
    tbody>tr>td {
        padding: 9px;
    }
    thead {
        background: -webkit-gradient(linear, left top, left bottom, from(#267BAE), to(#3A5F97));
        tr>th {
            color: $white-color;
            text-align: center !important;
            font-weight: bold;
        }
    }
    tbody {
        tr {
            text-align: center;
            background: rgba(246, 247, 248, 0.85);
            td {
                img {
                    @include maxWidthHeight;
                        max-width: 70px;
                        max-height: 25px;
                  }
                i {
                    margin: 3px 2px;
                    font-size: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
tr>th,
tr>td {
    border: 2px solid $white-color;
    &:nth-child(5) {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}
.moneySymbol {
    color: #21B234;
}
.asteriskSymbol {
    color: #EACA18;
}
.editSymbol {
    color: #888888;
}
.closeSymbol {
    color: #F21212;
}