@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Calibri;

body {
    font-family: $main-font;
}
.flight-list {
    width: $maxWidth;
    max-width: 950px;
    margin: 1% auto;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    thead>tr>th, 
    tbody>tr>td {
        padding: 9px;
    }
    thead {
        background: #A33112;
        tr>th {
            color: $white-color;
            text-align: center !important;
            font-weight: bold;
        }
    }
    tbody {
        tr {
            text-align: center;
            &:nth-child(even) {
                background: #F3F3F3
            }
        td {
            border-left: none;
            border-right: none;
            img {
                @include maxWidthHeight;
                max-width: 70px;
                max-height: 25px;
            }
            i {
                margin: 3px 2px;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
}
.moneySymbol {
    color: #21B234;
}
.asteriskSymbol {
    color: #EACA18;
}
.editSymbol {
    color: #888888;
}
.closeSymbol {
    color: #F21212;
}