@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
.flight-list {
  font-size: 15px;
  font-family: Ubuntu; }
  .flight-list thead > tr > th,
  .flight-list tbody > tr > td {
    padding: 10px;
    border: 1px solid #ccc; }
  .flight-list thead > tr > th {
    text-align: center !important;
    font-weight: bold; }
  .flight-list tbody > tr > td {
    text-align: center; }

