@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Ubuntu;