@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
#top,
#middle,
#bottom {
  width: 100%;
  max-width: 1000px;
  margin: auto; }

#top,
#bottom {
  height: 100%; }

#top {
  max-height: 300px; }

#bottom {
  max-height: 150px;
  background: #808080; }
  #bottom .bottom-texts {
    font-size: 15px;
    margin-left: 10px;
    color: #FFFFFF;
    display: inline-block; }

