@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Ubuntu;

body {
    font-family: $main-font;
}
#top {
    min-height: 80px;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    .logo {
        margin: 1% 0% 0% 1.5%;
    }
}
#top,
#bottom { 
    max-width: 1000px;
    margin: auto;
}
#bottom-icons-container,
#bottom-icons-container>img {
    @include maxWidthHeight;
}
#button-menu {
    max-height: 40px;
    max-width: 600px;
    margin: 1.8% 1% 0% 0%;
    float: right;
    li {
        list-style-type: none;
        font-size: 16px;
        margin-left: 2.5%;
        line-height: 40px;
        float: left;
        a {
            color: $white-color;
            padding: 5px 8px;
            &:hover {
                text-decoration: none;
                background: #3E6E82;
                border-radius: 10px;
            }
            .button-list-texts {
                margin-left: 3px;
            }
        }
    }
}
#top,
#button-menu,
#bottom {
    height: $maxHeight;
}
#button-menu,
#middle,
#bottom,
#bottom-text-container {
    width: $maxWidth;
}
#bottom {
    background: #3E6E82;
    max-height: 80px;
    #bottom-text-container {
        max-width: 500px;
        float: left;
        .bottom-texts {
            font-size: 15px;
            display: inline;
            margin: 4% 0% 4% 1.5%;
            color: $white-color;
        }
    }
    #bottom-icons-container {
        max-width: 285px;
        float: left;
        img {
            max-height: 30px;
            max-width: 30px;
            margin-left: 3%;
        }
    }
}
