@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Ubuntu;

#top,
#middle,
#bottom {
    width: $maxWidth;
    max-width: 1000px;
    margin: auto;
}
#top,
#bottom {
    height: $maxHeight;
}
#top {

}
#middle {

}
#bottom {
    max-height: 100px;
    .bottom-texts {
        font-size: 15px;
        color: $white-color;
        display: inline-block;
    }
}
