@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {     
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Calibri;

body {
    font-family: $main-font;
}
.logo {
    margin: 0.5% 0% 0% 2%;
}
nav,
#button-menu {
    min-height: 50px;
}
#top,
#middle,
#profile-container,
#flightsMap,
.flights-container,
.statistics-container,
.diagramsStatistics h3,
#flights-top h3,
#flights-per-year>.graph-img,
.flights-per-year-container,
#bottom { 
    margin: auto;
}
#top,
#middle,
#bottom { 
    max-width: 1000px;
}
#top {
    min-height: 120px;
}
#top,
.diagramsStatistics {
    height: $maxHeight;
}
.logo,
#connection-button-container,
#connection-button-container p,
#facebook-sign-in,
.sign-in-button,
nav,
#button-menu>li,
#bottom-text-container,
#bottom-icons-container,
.statistics,
.main-flights-boxes,
.flights-table {
    float: left;
}
#account-connection,
#connection-button-container,
#facebook-sign-in,
.sign-in-button,
nav,
#button-menu,
#flightsMap,
.profile-color-border,
#bottom,
#bottom-icons-container,
#bottom-icons-container>img {
    @include maxWidthHeight;
}
#account-connection {
    max-width: 325px;
    min-height: 45px;
    line-height: 45px;
    margin-top: 1.4%;
}
#account-connection, 
.diagrams-img,
.diagrams-texts {
    float: right;
}
#connection-button-container {
    max-width: 300px;
    min-height: 30px;
    #facebook-sign-in {
        max-width: 194px;
        min-height: 28px;
        background: url(../images/connect-with-facebook.png) no-repeat;
        display: block;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .sign-in-button {
        max-width: 69px;
        min-height: 26px;
        background: url(../images/start-sign-in-button.png) no-repeat;
    }
}
#facebook-sign-in,
.sign-in-button {
    margin: 10px 0 0 0;
}
.sign-in-button,
#bottom-icons-container img:hover {
    cursor: pointer;
}
nav {
    clear: left;
}
nav,
#bottom {
    background: rgba(0,47,93,0.9);
    box-shadow: 1px 0px 1px rgba(0,47,93,0.9);
}
nav,
#middle,
#profile-container,
#flights-total,
#flights-diagrams,
.statistics,
.statistics-container,
.diagrams-img,
.diagrams-texts,
.main-flights-boxes,
.flights-container,
.graph-img,
#flights-per-year,
#bottom-text-container {
    width: $maxWidth;
}
.statistics h3,
#flights-top h3,
#button-menu>li>a,
.bottom-texts>a,
.bottom-texts a:hover {
    color: $white-color;
}
#button-menu {
    margin-bottom: 0px !important;
    padding-left: 0px;
    li {
        list-style-type: none;
        font-size: 18px;
        margin-left: 1.6%;
        line-height: 50px;
        &:hover {
            background: #005A9F;
            transition: background 0.4s ease-out;
            -webkit-transition: background 0.4s ease-out;
            -moz-transition: background 0.4s ease-out;
            -o-transition: background 0.4s ease-out;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
            &:hover {
                text-decoration: none;
            }
            .button-list-texts {
                margin-left: 7px;
            }
        }
    }
}
#middle {
    background: url("../images/middle.png") repeat-y;
}
#middle,
.main-flights-boxes,
.flights-container {
    overflow: auto;
}
.statistics,
#flights-top {
    h3 {
        background: $black-color;
        padding: 3px 0px;
    }
}
#flights-top,
.diagramsStatistics {
    h3 {
        text-transform: uppercase;
    }
}
#flights-top h3,
.statistics h2,
.statistics p,
.diagramsStatistics h3,
.flights-table>thead>tr>th,
.flights-table>tbody>tr>td {
    text-align: center;
}
#profile-container,
#map {
    max-width: 1000px;
}
#map {
    min-height: 450px;
}
.profile-color-border {
    max-height: 9px;
}
.main-flights-boxes,
#flights-per-year {
    box-shadow: 0px 1px 2px #858585;
}
.statistics {
    max-width: 250px;
    padding: 5px;
    h2 {
        margin-top: 0px;
    }
}
.diagramsStatistics {
    min-height: 190px;
    h3 {
        margin-top: 5px;
    }
}
.statistics-container {
    max-width: 215px;
    padding-top: 10px;
    .diagrams-img {
        margin-top: 1.5%;
        max-width: 110px;
    }
    .diagrams-texts {
        max-width: 100px;
        margin-top: 9%;
        &.continents {
            margin-top: 1.5%;
        }
        p {
            font-size: 14px;
            margin: 0px;
            text-align: left;
        }
    }
}
.main-flights-boxes,
#bottom-text-container {
    max-width: 500px;
}
#flights-top div h3 {
    width: 90%;
}
#flights-top,
.flights-container,
.statistics h3,
#flights-top h3,
#flights-per-year>.graph-img,
.flights-per-year-container {
    clear: both;
}
.flights-container,
#flights-weekday .graph-img,
#flights-monthly .graph-img {
    max-width: 450px;
}
#flights-per-year>.graph-img,
.flights-per-year-container {
    max-width: 900px;
}
.flights-per-year-container {
    padding-bottom: 1%;
}
.flights-container {
    padding: 10px;
    .flights-table>thead>tr>th,
    .flights-table>tbody>tr>td {
        padding: 5px 10px;
    }
    .flights-table>thead>tr>th {
        font-weight: bold;
        border-bottom: 1px solid $black-color;
    }
    .diagrams-img {
        margin-top: 4%;
        max-width: 200px;
    }
}
#bottom {
    min-height: 50px;
    line-height: 50px;
    #bottom-text-container {
        margin-left: 2%;
        .bottom-texts {
            font-size: 16px;
            display: inline-block;
            margin: 0px;
            a {
                padding: 0px 5px;
            }
        }
    }
    #bottom-icons-container {
        max-width: 200px;
        margin-left: 24%;
        img {
            max-height: 30px;
            max-width: 30px;
            margin-left: 3%;
        }
    }
}
