@mixin maxWidthHeight {
    width: 100%;
    height: 100%;
}
@mixin margin-float-group {
    margin: auto;
    float: none;
}

$maxWidth: 100%;
$maxHeight: 100%;
$white-color: #FFFFFF;
$black-color: #000000;
$main-font: Calibri;

#flight-form,
.rating-section {
    width: $maxWidth;
}
#flight-form {
    .rating-section {
        max-width: 360px;
        float: left;
    }
}
