#flight-form,
#main-flight-info-container,
.rating-section {
  width: 100%; }

#flight-form #main-flight-info-container {
  max-width: 800px; }
  #flight-form #main-flight-info-container .rating-section {
    max-width: 360px;
    float: left; }

