#flight-form,
#main-flight-info-container,
.rating-section,
.rating-section img {
  width: 100%; }

#flight-form #main-flight-info-container {
  max-width: 800px; }
  #flight-form #main-flight-info-container .rating-section {
    max-width: 360px;
    float: left; }
    #flight-form #main-flight-info-container .rating-section img {
      width: 100%;
      max-width: 350px;
      min-height: 235px; }
    #flight-form #main-flight-info-container .rating-section p {
      text-align: center;
      font-size: 21px;
      font-weight: bold; }

